@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');

body {
  background-color: #ffffff;
  font-family: 'Metrophobic';
  text-align: center;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 175px;
    background: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
nav li{
    display: inline-block;
    position: relative;
}
nav li a{
    text-decoration: none;
    letter-spacing: 3px;
    color: white;
    padding: 28px 50px;
    margin: 0 0px;
    line-height: 75px;
    font-weight: 700;
    font-size: 15px;
}
nav li a:hover{
    background: white;
    color: black;
}

nav li ul.dropdown-content li{
    display: block;
}
nav li ul.dropdown-content{
    background: black;
    position: absolute;
    padding: 0.5rem, 0;
    margin: 0.5rem, -0.5rem;
    top: 59;
    z-index: 999;
    display: none;
}
nav li:hover ul.dropdown-content{
    display: block;
}

.bannerarea{
    background-image: url(background.png);
    background-size: cover;
    background-position: center center;
    top: 175px;
    left: 0;
    height: 100vh;
    width: 100%;
    position: fixed;
}
.bannerarea:after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #0a121e;
    opacity: 0.5;
    z-index: -1;
}

.bannerarea h2{
    padding-top: 8%;
    font-size: 80px;
    color: white;
    line-height: 200px;
}

.content{
    width: 100%;
    height: 2500px;
    position: relative;
    background: white;
    top: 1000px;
    z-index: 0;
}
.content h2{
    font-size: 50px;
    margin: 0;
    padding-top: 30px;
    letter-spacing: 3px;
}
.content p{
    padding: 2% 0;
    line-height: 35px;
    text-align: justify;
}
.kerbin{
    float: right;
    margin: 0px 0px 35px 35px;
}

.contentdownload{
    width: 100%;
    height: 500px;
    position: relative;
    background: white;
    top: 175px;
}
.contentdownload h2{
    font-size: 50px;
    margin: 0;
    padding-top: 30px;
    letter-spacing: 3px;
}

.contentplanets{
    width: 100%;
    height: 1500px;
    position: relative;
    background: white;
    top: 175px;
}
.contentplanets h2{
    font-size: 50px;
    margin: 0;
    padding-top: 30px;
    letter-spacing: 3px;
}
.contentplanets p{
    padding: 2% 0;
    line-height: 35px;
    text-align: justify;
}

.contentsocials{
    width: 100%;
    height: 500px;
    position: relative;
    background: white;
    top: 175px;
}
.contentsocials h2{
    font-size: 50px;
    margin: 0;
    padding-top: 30px;
    letter-spacing: 3px;
}
.contentsocials a{
    text-decoration: none;
    font-size: 35px;
    margin: 0;
    padding: 15px 25px;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 35px;
    color: black;
    line-height: 75px;
}
.contentsocials a:hover{
    background: black;
    color: white;
}

footer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
}
footer h6{
    color: #777777;
    text-align: center;
}